WpfClientNovaPoshta/Connected Services/ServiceReferencePoshta/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF_Lib/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Lib" />
  <xs:element name="CreatePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Lib" minOccurs="0" name="package" nillable="true" type="q1:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>